body {
    background-color: #000000ee;
    margin: 0; /*important for ceasing scroll capability */
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.content-item {
    background: rgba( 255, 255, 255, 0.25 );
    
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    height: 90vh;
    width: 85vw;
    margin-left: 5rem;
    margin-right: 5rem;

    background-image:url('assets/regular-show-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dark-container {
    background-color: #00000032;
    height: inherit;
    padding-bottom: 1px;
}

.navbar {
    color: white;
    border-radius: 10px 0px;

    display: flex;
    flex-direction: row;
    height: 8rem;
    justify-content: start;
    align-items: center;
    margin: -0.5px -0.5px;
}

.navbar > div {
    margin-left: 2rem;
}

.title {
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
}

.synopsis, .netflixLink, .wikiLink {
    color: white;
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 12rem;
}

.buttons {
    display: flex;
    flex-direction: row;
}